[submodule "hmi-speech"]
	path = hmi-speech
	url = https://github.com/jobpeters/hmi-speech.git
    branch = master

[submodule "hmi-vision"]
	path = hmi-vision
	url = https://github.com/jobpeters/hmi-vision.git
    branch = master
